 *{
    padding: 0 !important;
    margin: 0 !important;

 }
.items-area{
    h1{
        text-align: center;
        margin-bottom: 100px !important;
    }
    .drop-items{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .box:nth-child(1){
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: rgb(255, 0, 0);
        }
        .box:nth-child(2){
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: yellow;
        }
        .box:nth-child(3){
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: chocolate;
        }
    }
}
.zone{
    h1{
        text-align: center;
        margin-bottom: 60px !important;
    }
    .main-box{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 2px solid black;
        margin-left: 200px !important;
    }
}
.custom-box{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid black;
}